body{
    margin-top: 1.5cm;
    padding: 20px;
    font-family: 'Open sans', sans-serif;
    font-size: 18px;
    background: url(bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-color: Gainsboro;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    background-color: black;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}
header .logo
{
    color: white;
    height: 70px;
    line-height: 90px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}
.fa-beer
{
    padding-right: 10px;
}
header nav
{
    float: right;
}
header nav ul
{
    margin: 0;
    padding: 0;
    font-size: 22px;
    display: flex;
}
header nav ul li
{
    list-style: none;
}
header nav ul li a
{
    height: 70px;
    line-height: 70px;
    padding: 0 20px;
    color: white;
    text-decoration: none;
    display: block;
}
header nav ul li a:hover,
header nav ul li a.active
{
    color: white;
    background: Gainsboro;
}
.menu-toggle
{
    color: white;
    float: right;
    line-height: 70px;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
@media (max-width: 991px)
{
    header
    {
        padding: 0 20px;
    }
    .menu-toggle
    {
        display: block;
    }
    header nav
    {
        position: absolute;
        width: 100%;
        height: calc(100vh - 70px);
        background: black;
        top: 70px;
        left: -100%;
        transition: 0.5s;
    }
    header nav.active
    {
        left: 0;
    }
    header nav ul
    {
        display: block;
        text-align: center;

    }
    header nav ul li a
    {
        border-bottom: 1px solid rgba (0,0,0,.2);
    }
}

.main-body{
    color: rgb(51, 55, 52);
    background-color: Gainsboro;
    padding: 10px ;
}

h1{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    padding-bottom: 10px;
}
h2{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    padding: 10px 10px;
    text-align: left;
}
h5{
    padding: 10px 10px;
}

.page-header{
    color: rgb(51, 55, 52);
    padding: 10px ;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1cm;
  width: 50%;
}
main {
    margin: 20px;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 20px;
}
.box{
    background-color: rgb(237, 237, 237);
    border-radius: 20px;
    padding: 20px;
}